<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<body class="container">
    <header class="header-IndivPort">
        <h1 class="header-IndivPort--title">Review this portfolio!!!</h1>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/users/form">Sign Up</a></li>
                <li class="nav-item"><a href="/portfolios/submissions">Submit your profile</a></li>
                <li class="nav-item"><a href="/contact">Contact</a></li>
                <!--widget - cascading window-->
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1 th:text="|${Portfolio.portfolioName}|">Default Profile Name</h1>
                <a class="carousel__face__item--link" th:text="|url: ${Portfolio.url}|"
                th:href="@{${Portfolio.url}}" target="_blank">url</a>
            </div>
            
            <figure class="carousel__face__item--embed--size">
                <embed class="carousel__face__item--embed" th:src="@{${Portfolio.url}}">
              </figure>
        </section>
        <section>
            <div class="review-section">
                <form th:action="@{|/portfolios/${Portfolio.id}/writeReview|}">
                    <input type="submit" value="Leave your own Review" />
                </form>
                <div class="review-collection">
                    <p class=>Popularity ratings/ Growth</p>
                    <ul>
                        <li>Previous Reviews 1</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>contact</p>
    </footer>
</body>

</html>