<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body class="container">
        <header class="header-main">
          <h1 class="header-main--title">TruPortfolio!</h1>
         <header>
              <nav class="main-nav">
                <ul>
                    <li><a href="/">Home</li></a>
                    <li><a href="/portfolios/submissions/">Submit Portfolio</a></li>
                    <li><a href="/reviewTags/">Tag List</a></li>
                    <li><a href="/contact/">Contact</a></li>
                  </ul>
              </nav>
      </header>
    <main>
     
        <section>
            <div class="review-section">
                <form th:action="@{|/portfolios/${Portfolio.id}/writeReview|}">
                    <input type="submit" value="Leave your own Review" />
                </form>
                <div class="review-collection">
                    <p class=>Popularity ratings/ Growth</p>
                    <table class="Review__Table">
                        <div th:each="specificReview : ${Portfolio.Reviews}">
                            <tr>
                                <td>Anonymous:</td></tr>
                            <tr>
                                <td th:text="| Ease of Use: ${specificReview.easeOfUseRating}|">Ease of Use: 5</td>
                            </tr>
                            <tr>
                                <td th:text="| Aesthetics: ${specificReview.aestheticsRating}|">Aesthetics: 5</td>
                            </tr>
                            <tr>
                                <td th:text="| Content: ${specificReview.contentRating}|">Content: 5</td>
                            </tr>
                            <tr>
                                <td th:text="| Creativity: ${specificReview.creativityRating}|">Creativity: 5</td>
                            </tr>
                            <tr>
                                <td th:text="| Overall: ${specificReview.overallRating}|">Overall: 5</td>
                            </tr>
                            <tr>
                                <td th:text="|  Comment: ${specificReview.overallComment}|">Comment:</td>
                            </tr>
                            <tr>
                                <td>
                                <a href="/reviewTags/"
                                 th:each ="tag:${specificReview.reviewTags}"th:text="|Tags:${tag.tagName}|"></a>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <small></small>
    </footer>
</body>
</html>