<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<header class="header-main">
    <a href="/"><img src="images/icon-left-font.svg" alt="TruPortfolio"></a>
    <h1 class="header-main"><a href="/portfolios/submissions"></a></h1>
    <div class="navbar">
      
      <button class="button"><a href="/contact">CONTACT</a></button>
      <button class="button"><a href="/portfolios/submissions">SUBMIT PORTFOLIO</a></button>
      <button class="button"><a href="/users/form">SIGNUP</a></button>
      <button class="button"><a href="/">HOME</a></button>

    </div>
  </header>

<body>
    <form action="/portfolios/submissions" method="post">
        <table>
            <tr>
                <td>Porfolio Name:</td>
                <td><input type="text" name="portfolioName" /></td>

            </tr>
            <tr>
                <td>URL:</td>
                <td><input type="text" name="url" /></td>

            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</body>

</html>