<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<body class="container">
        <header class="header-main">
          <h1 class="header-main--title">TruPortfolio!</h1>
         <header>
              <nav class="main-nav">
                  <ul>
                      <a href="/"><li>Home</li></a>
                      <a href="/portfolios/submissions"><li>Submit Portfolio</li></a>
                      <a href="/reviewTags"><li>Tag List</li></a>
                      <a href="/contact"<li>Contact</li></a>
                  </ul>
              </nav>
      </header>

<body>
    <form action="/portfolios/submissions" method="post">
        <table>
            <tr>
                <td>Porfolio Name:</td>
                <td><input type="text" name="portfolioName" /></td>

            </tr>
            <tr>
                <td>URL:</td>
                <td><input type="text" name="url" /></td>

            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</body>

</html>