<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<body class="container">
        <header class="header-main">
          <h1 class="header-main--title">TruPortfolio!</h1>
         <header>
              <nav class="main-nav">
                  <ul>
                      <a href="/"><li>Home</li></a>
                      <a href="/portfolios/submissions"><li>Submit Portfolio</li></a>
                      <a href="/reviewTags"><li>Tag List</li></a>
                      <a href="/contact"<li>Contact</li></a>
                  </ul>
              </nav>
      </header>
    <main>
        <section>
            <div>
                <h1 th:text="|Review Tag: ${ReviewTag.tagName}|">Default Profile Name</h1>
            </div>
        </section>
        <section>
            <div class="review-section">
                <div class="review-collection">
                    <form th:action="@{|/reviewTags/${ReviewTag.id}/add|}" method="POST">
                        <select name="reviewId">
                            <option th:each="review : ${AllReviews}" th:value="${review.id}" 
                                th:text="|Ease of Use: ${review.easeOfUseRating}, Aesthetics: ${review.aestheticsRating},
                                Content: ${review.contentRating}, Creativity: ${review.creativityRating},
                                Overall: ${review.overallRating}, Comment: ${review.overallComment}|">
                            </option>
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                    <table class="Review__Table">
                        <div th:each="specificReview : ${ReviewTag.reviews}">
                            <tr>
                                <td>Anonymous:</td>
                            </tr>
                            <tr>
                                <td th:text="| Ease of Use: ${specificReview.easeOfUseRating}|">Ease of Use: 5</td>
                            </tr>

                            <tr>
                                <td th:text="| Aesthetics: ${specificReview.aestheticsRating}|">Aesthetics: 5</td>
                            </tr>

                            <tr>
                                <td th:text="| Content: ${specificReview.contentRating}|">Content: 5</td>
                            </tr>

                            <tr>
                                <td th:text="| Creativity: ${specificReview.creativityRating}|">Creativity: 5</td>
                            </tr>

                            <tr>
                                <td th:text="| Overall: ${specificReview.overallRating}|">Overall: 5</td>
                            </tr>
                            <tr>
                                <td th:text="| Comment: ${specificReview.overallComment}|">Comment</td>
                            </tr>

                        </div>
                    </table>
                </div>
            </div>
        </section>
    </main>
</body>

</html>