<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<body class="container">
    <header class="header-IndivPort">
        <h1 class="header-IndivPort--title">Review this portfolio!!!</h1>
        <div class="navbar">
            <button class="button"><a href="/contact">CONTACT</a></button>
            <button class="button"><a href="/portfolios/submissions">SUBMIT PORTFOLIO</a></button>
            <button class="button"><a href="/users/form">SIGNUP</a></button>
        </div>
    </header>
    <main>
        <section>
            <div>
                <h1 th:text="|${ReviewTag.name}|">Default Profile Name</h1>
        
            </div>
        </section>
        <section>
            <div class="review-section">
                <form th:action="@{|/reviews/${Review.id}/writeReview|}">
                    <input type="submit" value="Leave your own Review" />
                </form>
                <div class="review-collection">
                    <p class=>Popularity ratings/ Growth</p>
                    <table class="Review__Table">
                        <div th:each="specificReview : ${ReviewTag.reviews}">
                            <tr>
                                <td>Anonymous:</td>
                            </tr>
                            <tr>
                                <td th:text="| Ease of Use: ${specificReview.easeOfUseRating}|">Ease of Use: 5</td>
                            </tr>
                            <tr>
                                <td th:text="|  Comment: ${specificReview.easeOfUseComment}|">Comment:</td>
                            </tr>
                            <tr>
                                <td th:text="| Aesthetics: ${specificReview.aestheticsRating}|">Aesthetics: 5</td>
                            </tr>
                            <tr>
                                <td th:text="|  Comment: ${specificReview.aestheticsComment}|">Comment:</td>
                            </tr>
                            <tr>
                                <td th:text="| Content: ${specificReview.contentRating}|">Content: 5</td>
                            </tr>
                            <tr>
                                <td th:text="|  Comment: ${specificReview.contentComment}|">Comment:</td>
                            </tr>
                            <tr>
                                <td th:text="| Creativity: ${specificReview.creativityRating}|">Creativity: 5</td>
                            </tr>
                            <tr>
                                <td th:text="|  Comment: ${specificReview.creativityComment}|">Comment:</td>
                            </tr>
                            <tr>
                                <td th:text="| Overall: ${specificReview.aestheticsRating}|">Overall: 5</td>
                            </tr>
                            <tr>
                                <td th:text="|  Comment: ${specificReview.overallComment}|">Comment:</td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>contact</p>
    </footer>
</body>

</html>