.scene {
    margin-top: 3rem;
    width: 61.80339887%;
    height: 61.80339887%;
    position: relative;
    perspective: 1000px;
}

.carousel {
    width: 100%;
    height: 100%;
    border: black 2px solid;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-350px);
}

.carousel__face {
    position: absolute;
    width: 350px;
    height: 600px;
    text-align: center; /*for anchor tags*/
}

.carousel__face__page{
    width: 100%;
    height: 100%;
}

.carousel__face:nth-child(1) { transform: rotateY(0deg) translateZ(350px); background-color: dodgerblue; }
.carousel__face:nth-child(2) { transform: rotateY(60deg) translateZ(350px);  background-color: blue; }
.carousel__face:nth-child(3) { transform: rotateY(120deg) translateZ(350px);  background-color: navy; }
.carousel__face:nth-child(4) { transform: rotateY(180deg) translateZ(350px);  background-color: plum; }
.carousel__face:nth-child(5) { transform: rotateY(240deg) translateZ(350px); background-color: purple;}
.carousel__face:nth-child(6) { transform: rotateY(300deg) translateZ(350px);  background-color: indigo;}

.carousel__face__item--embed {
    position:absolute;
    top:-400px;
    left:-425px;
    transform: scale(.2);
    width: 1200px;
    height: 1200px;
}

.carousel__face__item--Name {
    text-align: center;
}