* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the top navigation bar */
  .header-main {
    display: flex;
    overflow: hidden;
    background-color: #333;
    top: 0;
    margin: 0;
    width: 100%;
    /* position: relative; */
    color: #f2f2f2;
  }
  .links{
      list-style-type: none;
  }
  /* Style the topnav links */
  .main-nav a {
   
    /* display: flex; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
    
    
  }
  .nav-links{
    list-style-type: none;
    display: flex;
    right: 0;
    position: absolute;
  
  }
  
  /* Change color on hover */
  .main-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .container {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the footer */
  footer {
    background-color: #f1f1f1;
    padding: 10px;
  }



/* * {
    margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
} */
/* html,body {
    padding: 0;
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
/* }
body {
    display: flex;
    flex-direction: column;
    height: 100%; */
/* } */ 
/* #offcanvas-left,
#offcanvas-right {
    flex: 0 0 280px;
    background-color: white;
    color: white;
    transition-duration: .5s;
}
#offcanvas-left.hide {
    margin-left: -280px;
}
#offcanvas-right.hide {
    margin-right: -280px; */
/* } */
/* .togglebar {
    background-color: #232323;
    flex: 0 0 50px;
}
.toggle i {
    height: 80px;
    font-size: 1.4em;
    width: 100%;
    color: blueviolet ;
    display: flex;   
    align-items: center;
    justify-content: center;
    background-color: #111
}
.toggle i:hover {
    color: gold;
} */

/* header {
    background-color: white;
    flex: 0 0 40px;
    color: white;
    padding: 20px;
}
header nav {
    background-color: rgba(255,255,255, 0.1);
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
footer {
    background-color: gold;
    flex: 0 0 80px;
}
body > section {  /*only selects "section"*/
    /* flex: 1 1 auto; */
    /* flex-direction: row;
    height: 100%;
    display: grid;
    justify-content: top;
}
section > main {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: auto;
}
aside {
    background-color: lightblue;
    height: 100%;
    flex-grow: 0;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
article {
    border-radius: 5px;
    background-color: #efefef;
    padding: 20px;
    margin-bottom: 20px;
}

#offcanvas-left,
#offcanvas-right,
header,
body > section,
footer,
main article {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#offcanvas-left,
#offcanvas-right,
footer,
header,
main article {
    align-items: center;
} */ */

/***HEADER***/

/*img{
  float:left;
  width:5rem;
  height:5rem;
  border:0;
}*/

/* .navbar {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  background-color: none;
  top: 0;
  width: 100%;
  
}

.navbar a {
 
  display: block;
  color: #0f8b90;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
  font-size: 14px;
  float: left;

}

.button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  float: right;
  text-align: center;
  
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #f1f1f1;
} */


/*****************MAIN**********************/


