* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #363732;
    text-decoration: none;
}

header {
   
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
}

body {
   
    align-items: center;
    background-color: #edefee;
    margin: 0;
    padding: 0;
}

html {
    font: 20 px/1.618;
   
}

/***HEADER***/

img{
  float:left;
  width:5rem;
  height:5rem;
  border:0;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  background-color: #ffffff;
  top: 0;
  width: 100%;
  
}

.navbar a {
 
  display: block;
  color: #0f8b90;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
  font-size: 14px;
  float: left;

}

.button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  float: right;
  text-align: center;
  
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #f1f1f1;
}


/*****************MAIN**********************/

.container {
    
    color:green;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    width: 100%;
    max-width: 90rem;
}

