* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #363732;
}

header {
    background-color: #b39c4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
}

body {
    align-items: center;
    background-color: #edefee;
    margin: 0;
    padding: 0;
}

html {
    font: 20 px/1.618;
}

/*****************MAIN**********************/

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    width: 100%;
    max-width: 90rem;
}

/*****************CUBE**********************/

.scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    padding: 1rem;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    /*keep front text clear*/
    transform: translateZ(-100px) rotateY( 15.10101deg) rotateX(-15.1010101deg);
    transition: transform 1s;
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
}

.cube__face--front {
    background: rgb(66, 0, 153);
}

.cube__face--right {
    background: rgb(255, 0, 0);
}

.cube__face--back {
    background: hsl(120, 100%, 50%);
}

.cube__face--left {
    background: hsl(180, 100%, 50%);
}

.cube__face--top {
    background: hsl(240, 100%, 50%);
}

.cube__face--bottom {
    background: hsl(300, 100%, 50%);
}

.cube__face--front {
    transform: rotateY( 0deg) translateZ(100px);
}

.cube__face--right {
    transform: rotateY( 90deg) translateZ(100px);
}

.cube__face--back {
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
    transform: rotateX( 90deg) translateZ(100px);
}

.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
}