h2 {
    text-align: center;
    }
    
    figure.team-picture {
      background-color: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: auto;
      margin-bottom: 10px;
    }

      div.photo-info {
      text-align: center;
      padding: 10px 20px;
      margin-bottom: 1rem;
      }

      .teamprofile {
      width: 100%;
      height: auto;
      }

      a.contact-button, a:visited {
        background-color:grey;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        box-shadow:2px 2px 5px #000000;
      }

      a:hover, a:active {
        background-color: black;
      }