<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/teampicture.css">
    

    
</head>

<body class="container">
    <header class="header-main">
        <h1 class="header-main__title">TruPortfolio!</h1>
          <nav class="main-nav">
            <ul class ="nav-links">
              <li><a class ="links" href="/">Home</a></li>
              <li><a class ="links" href="/portfolios/submissions/">Submit Portfolio</a></li>
              <li><a class ="links" href="/reviewTags/">Tag List</a></li>
              <li><a class ="links" href="/contact/">Contact</a></li>
            </ul>
          </nav>
        </header>
        <main>          
                <h2>Meet The Team</h2>
              <figure class ="team-picture">
                <img class= "teamprofile" src="/images/TeamPic.jpg" alt="Team Pic">
              </figure>

                <div class="photo-info">
                    <a class="contact-button" a href="https://www.linkedin.com/in/jim-h-jewel/l" target="_blank">Jim Jewel</a>
                    <a class="contact-button" a href="https://www.linkedin.com/in/lamah/" target="_blank">Anthony Lam</a>
                    <a class="contact-button" a href="https://www.linkedin.com/in/nicholas-miner/" target="_blank">Nick Miner</a>
                    <a class="contact-button" a href="https://www.linkedin.com/in/biniyam-alemu/" target="_blank">Biniyam Alemu</a>
                    <a class="contact-button" a href="https://www.linkedin.com/in/akjeffers/" target="_blank">Alicia Jeffers</a>
                  <p> Meet our wonderful design team! From left to right is: Jim, Nick, Anthony, Bini and Alicia!<br />
                    Specializing in full stack development, we'll help you with life-cycle development and support<br>
                    for your content! Visit us today!</p>
              
            </div>
            
   
            <section>

             
            </section>
        </main>
</body>

</html>