<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body class="container">
    <header class="header-main">
        <h1 class="header-main__title">TruPortfolio!</h1>
          <nav class="main-nav">
            <ul class ="nav-links">
              <li><a class ="links" href="/">Home</a></li>
              <li><a class ="links" href="/portfolios/submissions/">Submit Portfolio</a></li>
              <li><a class ="links" href="/reviewTags/">Tag List</a></li>
              <li><a class ="links" href="/contact/">Contact</a></li>
            </ul>
          </nav>
        </header>
        <main>
            <figure>
                <img src="/images/TeamPic.jpg" alt="Team Pic">
            </figure>
            <section>
                Meet our wonderful design team! From left to right is: Jim, Nick, Anthony, Bini and Alicia!<br />
                Specializing in full stack development, we'll help you with life-cycle development and support<br>
                for your content! Visit us today!
            </section>
            <section>
                <a href="https://www.linkedin.com/in/jim-h-jewel/l"></a>
                <a href="https://www.linkedin.com/in/lamah/"></a>
                <a href="https://www.linkedin.com/in/nicholas-miner/"></a>
                <a href="https://www.linkedin.com/in/biniyam-alemu/"></a>
                <a href="https://www.linkedin.com/in/akjeffers/"></a>
            </section>
        </main>
</body>

</html>