
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    

</head>
<html>
    <body>
        <form th:action="@{/results}" method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" /></td>
                    <!-- td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</ -->
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" name="password" /></td>
                    <!-- td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td -->
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

<body>
    <header>
        <h1>Personal Portfolio Review!!!</h1>
        <nav>
            <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/form">Sign Up</a></li>
                    <li><a href="/individualPortfolio">individualPortfolio</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <form action="#" th:action="@{/}" th:object="${UserForm}" method="post">
                <table> 
                    <tr>
                        <td>UserName:</td>
                        <td><input type="text" th:field="*{userName}" /></td> -->
                        <!-- <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</td> 
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="text" th:field="*{password}" /></td>
                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                    </tr>
                   
                    <tr>
                        <td><button type="submit">Submit</button></td>
                    </tr>
                </table>
            </form> 
    </main>
    <footer>
        <p>contact</p>
    </footer>
</body> -->

</html> 



