<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

<body class="container">
    <header>
        <h1>Personal Portfolio Review!!!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/form">Sign Up</a></li>
                <li><a href="/individualPortfolio">individualPortfolio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="scene">
                <div class="cube">
                    <div class="cube__face cube__face--front">Profile</div>
                    <div class="cube__face cube__face--back">back</div>
                    <div class="cube__face cube__face--right">right</div>
                    <div class="cube__face cube__face--left">left</div>
                    <div class="cube__face cube__face--top">top</div>
                    <div class="cube__face cube__face--bottom">bottom</div>
                </div>
            </div>
        </section>
        <section>
            <div class="scene">
                <div class="cube">
                    <div class="cube__face cube__face--front">front</div>
                    <div class="cube__face cube__face--back">back</div>
                    <div class="cube__face cube__face--right">right</div>
                    <div class="cube__face cube__face--left">left</div>
                    <div class="cube__face cube__face--top">top</div>
                    <div class="cube__face cube__face--bottom">bottom</div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>