<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TruPortfolio | Personal Portfolio Review!!!</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body class="container">
    <header class="header-main">
      <h1 class="header-main--title">TruPortfolio!</h1>
     <header>
          <nav class="main-nav">
              <ul>
                  <a href="/"><li>Home</li></a>
                  <a href="/portfolios/submissions"><li>Submit Portfolio</li></a>
                  <a href="/reviewTags"><li>Tag List</li></a>
                  <a href="/contact"<li>Contact</li></a>
              </ul>
          </nav>
  </header>
  <main>

    <section>
      <div class="scene">
        <div class=>
          <div th:each="specificPortfolio : ${Portfolios}">
            <a th:href="@{|/portfolios/${specificPortfolio.id}|}" target="_blank">
              <h2 th:text="|${specificPortfolio.portfolioName}|">Portfolio Name</h2>
              <br>
              <a th:text="|url: ${specificPortfolio.url}|" th:href="@{${specificPortfolio.url}}" target="_blank">url</a>
              <figure>
                <embed th:src="@{${specificPortfolio.url}}">
              </figure>


            </a>
          </div>
        </div>

      </div>
      <!-- 
      <div class="scene">
        <div class="carousel">
          <div class="carousel__face" th:each="specificPortfolio : ${Portfolios}">
            <a class="carousel__face__page" th:href="@{|/portfolios/${specificPortfolio.id}|}"
              target="_blank">
                      <h2 class="carousel__face__item carousel__face__item--Name"
                th:text="|${specificPortfolio.portfolioName}|">Portfolio Name</h2>
               <br>
              <a class="carousel__face__item--link" th:text="|url: ${specificPortfolio.url}|"
                th:href="@{${specificPortfolio.url}}" target="_blank">url</a>
              <figure class="carousel__face__item--embed--size">
                <embed class="carousel__face__item--embed" th:src="@{${specificPortfolio.url}}">
              </figure>


            </a>
          </div>
        </div>
        
      </div> -->
    </section>

  </main>

</body>

</html>