<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal Portfolio Review</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

<body>
    <header>
        <h1>Personal Portfolio Review!!!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/home-two">HomeTwo</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/home-two">HomeTwo</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/home-two">HomeTwo</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1>Profile Name</h1>
                <figure>Rating</figure>
            </div>
            <figure>
                <img src="" alt="">
            </figure>
        </section>
        <section>
            <div class="review-section">
                <h1>Leave your own review</h1> <!-- popup form -->
                <p>Popularity ratings/ Growth</p>
                <ul>
                    <li>Previous Reviews 1</li>
                    <li>Previous Reviews 1</li>
                    <li>Previous Reviews 1</li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <p>contact</p>
    </footer>
</body>

</html>